.principal{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.branco{
    background-color: #fff;
}

.preto{
    background-color: #000;
}

.azul{
    background-color: #0011ff;
}

.vermelho{
    background-color: #ff0000;
}

.gradiente{
    background-image: linear-gradient(to right top, #000000, #281917, #452d1e, #584823, #5c6830, #48764a, #2c836b, #008d8e, #0082ab, #0071c7, #0054cb, #8300a8);
}